@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

body {
  background-color: #ffbf69;
  color: #fff;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

#container {
  width: 60%;
  background-color: #277da1;
  border-radius: 10px;
  margin: 20px auto;
  overflow: auto;
  padding: 30px;
}

header {
  border-bottom: #f3722c dashed 2px;
  text-align: center;
}

header h1 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header p {
  padding: 0;
  margin-top: 5px;
  color: #ffbf69;
}

section {
  min-height: 400px;
}

input[type="radio"] {
  margin-right: 15px;
  font-size: 16px;
}

input[type="submit"],
.btn {
  background-color: #f3722c;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
}

#results h3 {
  background-color: #f9c74f;
  border: 0;
  border-radius: 5px;
  color: #277da1;
  padding: 10px 15px;
  margin: 20px 0;
  cursor: pointer;
}

#results span {
  color: #e71d36;
  font-weight: bold;
}

footer {
  margin-top: 100px;
  text-align: center;
}
